.root {
    margin-top: 5em;
    margin-bottom: 3em;
}

.divMain {
    display: inline;
}

.spanMain {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
}