.root {
    margin-top: 1em;
}

.divMain {}

.divLine {
    background-color: #d9d9d9;
    width: 18em;
    height: 2px;
}

.h1Class {
    display: flex;
    font-size: 1.75em;
}

.paragraphClass {
    display: flex;
    text-align: start;
    font-size: 1.2em;
    color: rgb(87, 87, 87);
}

.divContent {
    margin-top: 2em;
}